<br/>
<div id="headerwrap" id="home" name="home">
      <header class="clearfix">
            <h1><span class="icon icon-dashboard"></span></h1>
            <p>Trackmetrics</p>
            <p>API Tracking and Reporting Tool</p>
        </header>    
        <div class= "col-lg-24 callout centered">
        <p> 
              <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %>
              <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
        </p> 
      </div>
      </div><!-- /headerwrap -->
      

  <div id="greywrap">
      <div class="row">
        <div class="col-lg-4 callout">
          <span class="icon icon-stack"></span>
          <h2>Bootstrap 3</h2>
          <p>Shield Theme is powered by Bootstrap 3. The incredible Mobile First Framework is the best option to run your website. </p>
        </div><!-- col-lg-4 -->
 
        
        <div class="col-lg-4 callout">
          <span class="icon icon-eye"></span>
          <h2>Retina Ready</h2>
          <p>You can use this theme with your iPhone, iPad or MacBook Pro. This theme is retina ready and that is awesome. </p>
        </div><!-- col-lg-4 --> 
        
        <div class="col-lg-4 callout">
          <span class="icon icon-heart"></span>
          <h2>Crafted with Love</h2>
          <p>We don't make sites, we craft themes with love & passion. That is our most valued secret. We only do thing that we love.   </p>
        </div><!-- col-lg-4 --> 
      </div><!-- row -->
    </div><!-- greywrap -->

    <!-- ==== ABOUT ==== -->
    <div class="container" id="about" name="about">
      <div class="row white">
      <br>
        <h1 class="centered">A LITTLE ABOUT OUR AGENCY</h1>
        <hr>
        
        <div class="col-lg-6">
          <p>We believe ideas come from everyone, everywhere. In fact, at BlackTie, everyone within our agency walls is a designer in their own right. And there are a few principles we believe—and we believe everyone should believe—about our design craft. These truths drive us, motivate us, and ultimately help us redefine the power of design. We’re big believers in doing right by our neighbors. After all, we grew up in the Twin Cities and we believe this place has much to offer. So we do what we can to support the community we love.</p>
        </div><!-- col-lg-6 -->
        
        <div class="col-lg-6">
          <p>Over the past four years, we’ve provided more than $1 million in combined cash and pro bono support to Way to Grow, an early childhood education and nonprofit organization. Other community giving involvement throughout our agency history includes pro bono work for more than 13 organizations, direct giving, a scholarship program through the Minneapolis College of Art & Design, board memberships, and ongoing participation in the Keystone Club, which gives five percent of our company’s earnings back to the community each year.</p>
        </div><!-- col-lg-6 -->
      </div><!-- row -->
    </div><!-- container -->

</div>