<br/>
  <div id="aboutwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 name-desc">
          <h2>TRACKMETRICS<br/>A TRACKING SERVICE API &<br/>REPORTING TOOL</h2>
          <div class="name-zig"></div>
          
          <div class="col-md-6">
            <p> 
              <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %>
              <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
            </p>
          </div>
        </div><! --/col-lg-8-->
    
      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /aboutwrap -->

<div class="row">
  <div class="col-md-4">
    <h2>Solves world hunger</h2>
    <p>Bloccit will deliver food and water to those in need, all over the world.</p>
  </div>
  <div class="col-md-4">
    <h2>Eliminates poverty</h2>
    <p>Bloccit will deliver money and education to those in need, all over the world.</p>
  </div>
  <div class="col-md-4">
    <h2>Makes you better looking</h2>
    <p>Bloccit will make you better looking: it's scientifically proven to make men look like Ryan Gosling and women look like Shakira.</p>
  </div>
</div>
</div>