<h1>All Domains</h1>
<% @domains.each do |domain| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to domain.name, domain%>
      </h4>
    </div>
  </div>
<% end %>